﻿<form asp-action="Add" asp-controller="Personne" method="post">
    <input type="text" name="chtulu" />
    <input type="text" name="LaPersonne.Prenom" />
    <button type="submit">Ajouter</button>
</form>