﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align: center; color: #FF0000;">Edition des personnes</h1>
<p style="color: blue; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod nunc id lorem aliquet porttitor. Nulla vitae magna ex. Phasellus sit amet euismod risus, in tempor nisi. Fusce blandit finibus turpis, a bibendum erat blandit non. Suspendisse et fermentum sem. Morbi euismod risus eu ipsum interdum, vel cursus libero condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id ex ac arcu auctor placerat. Mauris vitae turpis vitae ligula malesuada suscipit. Phasellus urna risus, hendrerit a dolor et, vestibulum sagittis leo. Praesent vestibulum nunc ac ante porta sollicitudin. Nunc finibus aliquet tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin quis ante ac mi accumsan fringilla eu ut nulla.</p>
<p style="color: green; text-align: justify;">Quisque convallis nibh consequat, elementum ante et, tempor sem. In iaculis pharetra ante. In varius rutrum risus id bibendum. Proin lacinia quis elit sed ornare. Proin sed sem nulla. Suspendisse elementum orci tellus, viverra auctor quam efficitur et. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus efficitur quam in ultricies rhoncus. Phasellus in lectus et nisl venenatis maximus.</p>