﻿@model List<Personne>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}


<h1> La liste des personnes</h1>
@if(Model.Count > 0)
{
    <select>
        @foreach(var item in this.Model)
        {
            <option>@(item.Prenom.ToLower())</option>
        }
    </select>
}
else
{
    <i>Aucune personne présence dans la liste</i>
}