﻿@model List<Game>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>La liste des games</h1>
@if (Model.Count > 0)
{
    <table style="border: 1px dotted black;">
        @foreach(var item in this.Model)
        {
            <tr>
                <td style="border: 1px dotted black;">@(item.Id)</td>
                <td style="border: 1px dotted black;">@(item.DateGame)</td>
            </tr>
        }
    </table>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="game" asp-action="Add">Nouvelle sauvegarde</a>
    </li>
}
else
{
    <i>Aucune partie commencée</i>
}